# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
*.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Data (raw / local files)
# =========================
data/
*.csv
*.parquet
*.json

# =========================
# Jupyter notebooks checkpoints
# =========================
.ipynb_checkpoints/
notebooks/
*.ipynb

# =========================
# Airflow
# =========================
airflow/logs/
airflow/*.pid

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/